{% extends 'base/principal.html' %} {% block content %}

<div class="header_user">
  {% if request.user.is_authenticated %}
  <div class="name_user">{{ request.user }}</div>
  <a href="{% url 'logout' %}">
    <img
      src="https://res.cloudinary.com/dm8swv5zy/image/upload/v1732131629/a48u7szazhwtarwybl6i.png"
      alt="logout"
    />
  </a>
  {% else %}
  <a href="{% url 'login' %}">Log in</a>
  {% endif %}
</div>

<div class="container_content">
  <h1>TO DO LIST PYTHON EDITION</h1>
  <a href="{% url 'create-task' %}" class="create_task">Create to do</a>
  <form method="get" class="search_task">
    <input
      type="text"
      name="search"
      class="search"
      placeholder="Search for your task"
      value="{{task_search}}"
    />
    <button type="submit" class="bottone5">
      <img
        src="https://res.cloudinary.com/dm8swv5zy/image/upload/v1732132488/thmahakdkzsv8vte6ndy.png"
        class="search_icon"
      />
    </button>
  </form>
  <table class="todo-list">
    <tr>
      <th class="title-table">TASK</th>
      <th></th>
    </tr>

    {% for task in todos %}

    <tr class="todo_row">
      <td>{{task.title}}</td>
      <td>
        <a href="{% url 'edit-task' task.id %}" class="edit-task"> 🖌️ </a>
      </td>
      <td>
        <a href="{% url 'delete-task' task.id %}" class="delete-task"> ❌ </a>
      </td>
    </tr>

    {% empty %}
    <h3>YOU DON'T HAVE ANY TO DOS</h3>

    {% endfor %}
  </table>

  {% endblock content %}
</div>
